@font-face {
    font-family: gilroy;
    src: url(Radomir\ Tinkov\ -\ Gilroy-ExtraBold.woff2);
}
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
}
#main
{
    width: 100%;
    height: 100vh;
    
}
.back
{
    width: 100%;
    height: 100vh;
    
}
.back img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top
{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
#workingarea
{
    position: relative;
    height: 100vh;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}
#nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
    pointer-events: all;
}
#nav img
{
    height: 60px;

}
#lnav, #rnav
{
    display: flex;
    align-items: center;
    gap: 60px;

}
#lnav a, #rnav a
{
    color: black;
    font-size: 16px;
    font-family: "gilroy";
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 800;
}
#hero
{
    position: absolute;
    top: 60%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 100%;
  /*   height: 100px; */
    display: flex;
    justify-content: space-between;
    transform:translate(0% , -50%);   
}

#lhero
{
    min-width:50%;
    /* height: 100px; */
    /* background-color:blue; */
}
#rhero
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:17%;
    /* height: 100px; */
    color: black;
    font-family: "gilroy";
    
}
#lhero .ele h1
{
    line-height: 0.9;
    font-family: "kajiro";
    color: black;
    font-size: 9vw;
    font-weight: 100 ;
}
#lhero .ele
{
    height:17vh;
    overflow: hidden;
}
#lhero button
{
    margin-top: 30px    ;
    padding: 1vw 2vw;
    font-family: "kajiro";
    font-size: 70px;
    pointer-events: all;
}
#rhero p
{
    text-align: right;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 300;
}
#rhero #imgdiv
{
    width: 100%;
    height: 130px;
    background-image: url(https://images.unsplash.com/photo-1519831403285-36b9a0753275?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size:cover;
    margin-top: 10px;
    margin-bottom: 30px;
}
#rhero p:nth-child(3)
{
    margin-top: 10px;
    margin-bottom: 20px;
}